{
  "openapi": "3.0.1",
  "info": {
    "title": "Document360 Customer API",
    "description": "Document360 RESTful APIs will allow you to integrate your documentation with your software, allowing you to easily onboard new users, manage your articles and more. \n\nYou can find detailed API documentation here : [API Documentation](https://apidocs.document360.io/docs)",
    "contact": {
      "name": "Document360 Support",
      "url": "https://document360.io/contact-us/",
      "email": "support@document360.com"
    },
    "version": "2.0"
  },
  "servers": [
    {
      "url": "https://apihub.document360.io",
      "description": "Document 360 API Hub"
    },
    {
      "url": "https://apihub.us.document360.io",
      "description": "Document360 API Hub - US data center"
    },
    {
      "url": "https://apihub.{private_hosting}.document360.io",
      "description": "Private hosting - Please provide the subdomain name.",
      "variables": {
        "private_hosting": {
          "default": "domain",
          "description": "Sub domain for private hosting"
        }
      }
    }
  ],
  "paths": {
    "/v2/APIReferences": {
      "delete": {
        "tags": [
          "APIReferences"
        ],
        "summary": "Deletes an API reference",
        "parameters": [
          {
            "name": "projectVersionId",
            "in": "query",
            "description": "The ID of the project version",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apiReferenceId",
            "in": "query",
            "description": "The ID ofthe API reference",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteApiReferenceResponseCustomer"
                },
                "examples": {
                  "API reference deleted": {
                    "summary": "API reference is deleted successfully.",
                    "value": {"data":[{"api_reference_id":"0a39bfeb-90f8-4fb3-b37a-5838db6387f6","details":"Successfully deleted"}],"extension_data":null,"success":false,"errors":[],"warnings":[],"information":[]}
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerApiBaseResponse"
                },
                "examples": {
                  "Invalid API reference": {
                    "summary": "Kindly verify that the API reference ID is valid and perform the task again.",
                    "value": {"extension_data":null,"success":false,"errors":[{"extension_data":null,"stack_trace":null,"description":"The supplied project version id 99f4b8d5-ccbd-41c9-8892-57c2fcf338d2 does not exist in your project.","error_code":null,"custom_data":null}],"warnings":[],"information":[]}
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "APIReferences"
        ],
        "summary": "Import the API reference spec file",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "ForceImport",
                  "ProjectVersionId",
                  "UserId"
                ],
                "type": "object",
                "properties": {
                  "ProjectVersionId": {
                    "type": "string",
                    "description": "The ID of the project version"
                  },
                  "UserId": {
                    "type": "string",
                    "description": "The ID of the team account"
                  },
                  "ForceImport": {
                    "type": "boolean",
                    "description": "**true** : The errors and alerts will not be shown while importing the spec file          \r\n**false** : The errors and alerts will be shown while importing the spec file",
                    "default": true
                  },
                  "Url": {
                    "type": "string",
                    "description": "Url of the spec file"
                  },
                  "File": {
                    "type": "string",
                    "description": "File path of the spec file",
                    "format": "binary"
                  }
                }
              },
              "examples": {
                "Add API reference request": {
                  "summary": "Import an API reference with projectVersionId, userId and a spec file url or a file type.",
                  "value": {"project_version_id":"5b291e6b-fa40-4ab9-941e-f8fffc23b376","user_id":"46f48bc7-760f-4b07-b2d2-fce4aa8ba234","force_import":true,"url":"https://petstore.swagger.io/v2/swagger.json","file":null}
                }
              },
              "encoding": {
                "ProjectVersionId": {
                  "style": "form"
                },
                "UserId": {
                  "style": "form"
                },
                "ForceImport": {
                  "style": "form"
                },
                "Url": {
                  "style": "form"
                },
                "File": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiDocumentationImportResponseCustomer"
                },
                "examples": {
                  "Success status Response": {
                    "summary": "This is the sample response for single API reference import with server variables.",
                    "value": {"data":{"categories_created":23,"articles_created":23,"api_reference_id":"9874c1d9-033f-484c-8e3e-c343301eae57","errors":[],"alerts":[]},"extension_data":null,"success":true,"errors":[],"warnings":[],"information":[]}
                  },
                  "Success status Response with no server variables": {
                    "summary": "This is the sample response for single API reference import without server variables.",
                    "value": {"data":{"categories_created":3,"articles_created":23,"api_reference_id":"9874c1d9-033f-484c-8e3e-c343301eae57","errors":[],"alerts":[]},"extension_data":null,"success":true,"errors":[],"warnings":[{"extension_data":null,"description":"You may not be able to use try-it feature. Looks like server variables aren’t defined in your OpenAPI Specification file.","warning_code":null}],"information":[]}
                  },
                  "Success status Response for ForceImport as false": {
                    "summary": "This is the sample response for single API reference import with force import as false.",
                    "value": {"data":{"categories_created":3,"articles_created":23,"api_reference_id":"9874c1d9-033f-484c-8e3e-c343301eae57","errors":[{"message":"Declared path parameter 'contentId' needs to be defined as a path parameter at either the path or operation level","pointer":"#/paths/~1v2~1Content~1{Id}~1version~1{contentCategoryId}/delete/parameters/2/in"}],"alerts":[{"message":"Data and type mismatch found.","pointer":"#/paths/~1v2~1Content/{Id}/depete/response/200/content/application~1json/examples/Content"}]},"extension_data":null,"success":true,"errors":[],"warnings":[],"information":[]}
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerApiBaseResponse"
                },
                "examples": {
                  "Inalid project Version ID": {
                    "summary": "Kindly ensure that the given project version ID is valid.",
                    "value": {"extension_data":null,"success":false,"errors":[{"extension_data":null,"stack_trace":null,"description":"The supplied project version id d2eafb73-ccb6-4d15-9c4a-959b3c232ddba does not exist in your project","error_code":null,"custom_data":null}],"warnings":[],"information":[]}
                  },
                  "Inalid user ID": {
                    "summary": "Kindly ensure that the given user ID is valid.",
                    "value": {"extension_data":null,"success":false,"errors":[{"extension_data":null,"stack_trace":null,"description":"The user with id 'f11efc6f-e968-4e95-82eb-85ad61559de8a' does not exist in your project.","error_code":null,"custom_data":null}],"warnings":[],"information":[]}
                  },
                  "Maximum API Reference limit reached": {
                    "summary": "You had reached your maximum API reference limit, for continuing add a new version.",
                    "value": {"extension_data":null,"success":false,"errors":[{"extension_data":null,"stack_trace":null,"description":"Unable to add API Reference: Maximum API Reference limit reached","error_code":null,"custom_data":null}],"warnings":[],"information":[]}
                  },
                  "Supplied URL is invalid": {
                    "summary": "You have to provide a valid OAS spec file URL.",
                    "value": {"extension_data":null,"success":false,"errors":[{"extension_data":null,"stack_trace":null,"description":"Invalid Url","error_code":null,"custom_data":null}],"warnings":[],"information":[]}
                  },
                  "Can`t upload both the file and the URL": {
                    "summary": "You have to provide only a valid OAS spec file or a spec file URL.",
                    "value": {"extension_data":null,"success":false,"errors":[{"extension_data":null,"stack_trace":null,"description":"You can only upload URL or a spec file.","error_code":null,"custom_data":null}],"warnings":[],"information":[]}
                  },
                  "Supplied file type is invalid": {
                    "summary": "You have to upload a valid JSON or a YAML file.",
                    "value": {"extension_data":null,"success":false,"errors":[{"extension_data":null,"stack_trace":null,"description":"Only YAML or JSON files are allowed.","error_code":null,"custom_data":null}],"warnings":[],"information":[]}
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "APIReferences"
        ],
        "summary": "Resync the API reference spec file",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "ApiReferenceId",
                  "ForceImport",
                  "ProjectVersionId",
                  "UserId"
                ],
                "type": "object",
                "properties": {
                  "ApiReferenceId": {
                    "type": "string",
                    "description": "The ID of the API reference"
                  },
                  "ProjectVersionId": {
                    "type": "string",
                    "description": "The ID of the project version"
                  },
                  "UserId": {
                    "type": "string",
                    "description": "The ID of the team account"
                  },
                  "ForceImport": {
                    "type": "boolean",
                    "description": "**true** : The errors and alerts will not be shown while resyncing the spec file     \r\n**false** : The errors and alerts will be shown while resyncing the spec file",
                    "default": true
                  },
                  "Url": {
                    "type": "string",
                    "description": "Url of the spec file"
                  },
                  "File": {
                    "type": "string",
                    "description": "File path of the spec file",
                    "format": "binary"
                  }
                }
              },
              "examples": {
                "Resync API reference request": {
                  "summary": "Resync an API reference with specific apiReferenceId projectVersionId, userId and a spec file url or a file type.",
                  "value": {"api_reference_id":"d2eafb73-ccb6-4d15-9c4a-959b3c232ddb","project_version_id":"5b291e6b-fa40-4ab9-941e-f8fffc23b376","user_id":"46f48bc7-760f-4b07-b2d2-fce4aa8ba234","force_import":true,"url":"https://petstore.swagger.io/v2/swagger.json","file":null}
                }
              },
              "encoding": {
                "ApiReferenceId": {
                  "style": "form"
                },
                "ProjectVersionId": {
                  "style": "form"
                },
                "UserId": {
                  "style": "form"
                },
                "ForceImport": {
                  "style": "form"
                },
                "Url": {
                  "style": "form"
                },
                "File": {
                  "style": "form"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiDocumentationResyncResponseCustomer"
                },
                "examples": {
                  "Success status Response": {
                    "summary": "This is the sample response for single API reference resync with server variables.",
                    "value": {"data":{"errors":[],"alerts":[],"categories_created":23,"articles_created":23},"extension_data":null,"success":true,"errors":[],"warnings":[],"information":[]}
                  },
                  "Success status Response with no server variables": {
                    "summary": "This is the sample response for single API reference resync without server variables.",
                    "value": {"data":{"errors":[],"alerts":[],"categories_created":3,"articles_created":23},"extension_data":null,"success":true,"errors":[],"warnings":[{"extension_data":null,"description":"You may not be able to use try-it feature. Looks like server variables aren’t defined in your OpenAPI Specification file.","warning_code":null}],"information":[]}
                  },
                  "Success status Response for ForceImport as false": {
                    "summary": "This is the sample response for single API reference resync with force import as false.",
                    "value": {"data":{"errors":[{"message":"Declared path parameter 'contentId' needs to be defined as a path parameter at either the path or operation level","pointer":"#/paths/~1v2~1Content~1{Id}~1version~1{contentCategoryId}/delete/parameters/2/in"}],"alerts":[{"message":"Data and type mismatch found.","pointer":"#/paths/~1v2~1Content/{Id}/depete/response/200/content/application~1json/examples/Content"}],"categories_created":3,"articles_created":23},"extension_data":null,"success":true,"errors":[],"warnings":[],"information":[]}
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerApiBaseResponse"
                },
                "examples": {
                  "Invalid project Version ID": {
                    "summary": "Kindly ensure that the given project version ID is valid.",
                    "value": {"extension_data":null,"success":false,"errors":[{"extension_data":null,"stack_trace":null,"description":"The supplied project version id d2eafb73-ccb6-4d15-9c4a-959b3c232ddba does not exist in your project","error_code":null,"custom_data":null}],"warnings":[],"information":[]}
                  },
                  "Invalid API reference ID": {
                    "summary": "Kindly ensure that the given API reference ID is valid.",
                    "value": {"extension_data":null,"success":false,"errors":[{"extension_data":null,"stack_trace":null,"description":"Api reference not found.","error_code":null,"custom_data":null}],"warnings":[],"information":[]}
                  },
                  "Invalid user ID": {
                    "summary": "Kindly ensure that the given user ID is valid.",
                    "value": {"extension_data":null,"success":false,"errors":[{"extension_data":null,"stack_trace":null,"description":"The user with id 'f11efc6f-e968-4e95-82eb-85ad61559de8a' does not exist in your project.","error_code":null,"custom_data":null}],"warnings":[],"information":[]}
                  },
                  "Maximum API Reference limit reached": {
                    "summary": "You have reached your maximum API reference limit, for continuing add a new version.",
                    "value": {"extension_data":null,"success":false,"errors":[{"extension_data":null,"stack_trace":null,"description":"Unable to add API Reference: Maximum API Reference limit reached","error_code":null,"custom_data":null}],"warnings":[],"information":[]}
                  },
                  "Supplied URL is invalid": {
                    "summary": "You have to provide a valid OAS spec file URL.",
                    "value": {"extension_data":null,"success":false,"errors":[{"extension_data":null,"stack_trace":null,"description":"Invalid Url","error_code":null,"custom_data":null}],"warnings":[],"information":[]}
                  },
                  "Can`t upload both the file and the URL": {
                    "summary": "You have to provide only a valid OAS spec file or a spec file URL.",
                    "value": {"extension_data":null,"success":false,"errors":[{"extension_data":null,"stack_trace":null,"description":"You can only upload URL or a spec file.","error_code":null,"custom_data":null}],"warnings":[],"information":[]}
                  },
                  "Supplied file type is invalid": {
                    "summary": "You have to upload a valid JSON or YAML file.",
                    "value": {"extension_data":null,"success":false,"errors":[{"extension_data":null,"stack_trace":null,"description":"Only YAML or JSON files are allowed.","error_code":null,"custom_data":null}],"warnings":[],"information":[]}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/APIReferences/{apiReferenceId}/Logs": {
      "get": {
        "tags": [
          "APIReferences"
        ],
        "summary": "Get all API reference logs",
        "parameters": [
          {
            "name": "apiReferenceId",
            "in": "path",
            "description": "The ID of the API reference",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "resultsPerPage",
            "in": "query",
            "description": "Total logs per page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 5
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiReferenceLogsWrapResponseCustomer"
                },
                "examples": {
                  "Success status Response": {
                    "summary": "This is the sample response for this endpoint. You can verify the individual logs in /v2/ApiReferences/{apiReferenceId}/Logs/{logId}.",
                    "value": {"data":[{"logs_id":"33b5c7e-fcbe-4797-b144-1a7ca2508f44","user_name":"Peter Jone","user_id":"f11efc6f-e968-4e95-82eb-85ad61559de8","title":"Import successful","modified_at":"2024-06-13T14:30:00","error_count":12,"alerts_count":34},{"logs_id":"5g25c7e-fcbe-4797-b144-1a7ca2843tv4","user_name":"Theresa May","user_id":"d71efc6f-e968-4e95-82eb-85ad6155984rf","title":"Import successful","modified_at":"2024-06-13T14:30:00","error_count":12,"alerts_count":34}],"extension_data":null,"success":false,"errors":[],"warnings":[],"information":[]}
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerApiBaseResponse"
                },
                "examples": {
                  "Inalid API reference ID": {
                    "summary": "Kindly ensure that the given API reference ID is valid.",
                    "value": {"extension_data":null,"success":false,"errors":[{"extension_data":null,"stack_trace":null,"description":"Api reference not found.","error_code":null,"custom_data":null}],"warnings":[],"information":[]}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/APIReferences/{apiReferenceId}/Logs/{logId}": {
      "get": {
        "tags": [
          "APIReferences"
        ],
        "summary": "Get errors and alerts of a log",
        "parameters": [
          {
            "name": "apiReferenceId",
            "in": "path",
            "description": "The ID of the API reference",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "logId",
            "in": "path",
            "description": "The ID of the log",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLogsDetailsResponseCustomer"
                },
                "examples": {
                  "Success status Response": {
                    "summary": "This is the sample response for single API reference log.",
                    "value": {"api_reference_errors":[{"message":"Declared path parameter \"contentId\" needs to be defined as a path parameter at either the path or operation level","pointer":"#/paths/~1v2~1Content~1{Id}~1version~1{contentCategoryId}/delete/parameters/2/in"}],"api_reference_alerts":[{"message":"Data and type mismatch found.","pointer":"#/paths/~1v2~1Content/{Id}/depete/response/200/content/application~1json/examples/Content"}],"extension_data":null,"success":true,"errors":[],"warnings":[],"information":[]}
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerApiBaseResponse"
                },
                "examples": {
                  "Invalid API reference ID": {
                    "summary": "Kindly ensure that the given API reference ID is valid.",
                    "value": {"extension_data":null,"success":true,"errors":[{"extension_data":null,"stack_trace":null,"description":"Api reference not found.","error_code":null,"custom_data":null}],"warnings":[],"information":[]}
                  },
                  "Invalid API reference log ID": {
                    "summary": "Kindly ensure that the given log Id is in the  API reference.",
                    "value": {"extension_data":null,"success":true,"errors":[{"extension_data":null,"stack_trace":null,"description":"Logs not found.","error_code":null,"custom_data":null}],"warnings":[],"information":[]}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/APIReferences/publish": {
      "post": {
        "tags": [
          "APIReferences"
        ],
        "summary": "Publishes an API reference",
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ApiReferencePublishRequestCustomer"
                  }
                ]
              },
              "examples": {
                "Publish API reference Request Example": {
                  "summary": "Publish an API reference with apiReferenceId, projectVersionId, and userId.",
                  "value": {"api_reference_id":"5b291e6b-fa40-4ab9-941e-f8fffc23b376","project_version_id":"46f48bc7-760f-4b07-b2d2-fce4aa8ba234","user_id":"f11efc6f-e968-4e95-82eb-85ad61559de8"}
                }
              }
            },
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ApiReferencePublishRequestCustomer"
                  }
                ]
              },
              "examples": {
                "Publish API reference Request Example": {
                  "summary": "Publish an API reference with apiReferenceId, projectVersionId, and userId.",
                  "value": {"api_reference_id":"5b291e6b-fa40-4ab9-941e-f8fffc23b376","project_version_id":"46f48bc7-760f-4b07-b2d2-fce4aa8ba234","user_id":"f11efc6f-e968-4e95-82eb-85ad61559de8"}
                }
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ApiReferencePublishRequestCustomer"
                  }
                ]
              },
              "examples": {
                "Publish API reference Request Example": {
                  "summary": "Publish an API reference with apiReferenceId, projectVersionId, and userId.",
                  "value": {"api_reference_id":"5b291e6b-fa40-4ab9-941e-f8fffc23b376","project_version_id":"46f48bc7-760f-4b07-b2d2-fce4aa8ba234","user_id":"f11efc6f-e968-4e95-82eb-85ad61559de8"}
                }
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ApiReferencePublishRequestCustomer"
                  }
                ]
              },
              "examples": {
                "Publish API reference Request Example": {
                  "summary": "Publish an API reference with apiReferenceId, projectVersionId, and userId.",
                  "value": {"api_reference_id":"5b291e6b-fa40-4ab9-941e-f8fffc23b376","project_version_id":"46f48bc7-760f-4b07-b2d2-fce4aa8ba234","user_id":"f11efc6f-e968-4e95-82eb-85ad61559de8"}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerApiBaseResponse"
                },
                "examples": {
                  "API reference published successfully": {
                    "summary": "API reference has been successfully published. You can view the published endpoints in the KB site.",
                    "value": {"extension_data":null,"success":true,"errors":null,"warnings":[],"information":[]}
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerApiBaseResponse"
                },
                "examples": {
                  "Invalid API reference ID": {
                    "summary": "Kindly verify the API reference ID and perform the task again.",
                    "value": {"extension_data":null,"success":false,"errors":[{"extension_data":null,"stack_trace":null,"description":"Invalid API reference","error_code":null,"custom_data":null}],"warnings":[],"information":[]}
                  },
                  "Invalid project version ID": {
                    "summary": "Kindly verify the project version ID and perform the task again.",
                    "value": {"extension_data":null,"success":false,"errors":[{"extension_data":null,"stack_trace":null,"description":"The supplied project version id 'd2eafb73-ccb6-4d15-9c4a-959b3c232ddba' does not exist in your project","error_code":null,"custom_data":null}],"warnings":[],"information":[]}
                  },
                  "Invalid user ID": {
                    "summary": "Kindly verify the team account ID and perform the task again.",
                    "value": {"extension_data":null,"success":false,"errors":[{"extension_data":null,"stack_trace":null,"description":"The user with id 'f11efc6f-e968-4e95-82eb-85ad61559de8a' does not exist in your project.","error_code":null,"custom_data":null}],"warnings":[],"information":[]}
                  },
                  "All articles are already in published state.": {
                    "summary": "Since all the articles are already in a published state, they cannot be published again.",
                    "value": {"extension_data":null,"success":false,"errors":[{"extension_data":null,"stack_trace":null,"description":"All articles are already in published state.","error_code":null,"custom_data":null}],"warnings":[],"information":[]}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/Articles/{articleId}": {
      "delete": {
        "tags": [
          "Articles"
        ],
        "summary": "Deletes an article with an ID",
        "parameters": [
          {
            "name": "articleId",
            "in": "path",
            "description": "The ID of the article",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerApiBaseResponse"
                },
                "examples": {
                  "Article Deleted Successfully": {
                    "summary": "Article has been successfully deleted. This file cannot be retrived or undo.",
                    "value": {"extension_data":null,"success":true,"errors":null,"warnings":[],"information":[]}
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerApiBaseResponse"
                },
                "examples": {
                  "Article not found": {
                    "summary": "Kindly verify your articleId and perform the task again. Also verify the langCode (language code) is mismatching.",
                    "value": {"extension_data":null,"success":false,"errors":[{"extension_data":null,"stack_trace":null,"description":"Article not found","error_code":null,"custom_data":null}],"warnings":[],"information":[]}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/Articles/{articleId}/version/{versionNumber}": {
      "delete": {
        "tags": [
          "Articles"
        ],
        "summary": "Deletes an article version",
        "parameters": [
          {
            "name": "articleId",
            "in": "path",
            "description": "The ID of the article",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "versionNumber",
            "in": "path",
            "description": "Version number of the article",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerApiBaseResponse"
                },
                "examples": {
                  "Article Deleted Successfully": {
                    "summary": "Article has been successfully deleted. This file cannot be retrived or undo.",
                    "value": {"extension_data":null,"success":true,"errors":null,"warnings":[],"information":[]}
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerApiBaseResponse"
                },
                "examples": {
                  "Article not found": {
                    "summary": "Kindly verify your articleId and perform the task again. Also verify the langCode (language code) is mismatching.",
                    "value": {"extension_data":null,"success":false,"errors":[{"extension_data":null,"stack_trace":null,"description":"Article not found","error_code":null,"custom_data":null}],"warnings":[],"information":[]}
                  },
                  "Article Version not found": {
                    "summary": "Kindly verify your versionNumber and perform the task again. Also verify the langCode (language code) is mismatching.",
                    "value": {"extension_data":null,"success":false,"errors":[{"extension_data":null,"stack_trace":null,"description":"Article not found","error_code":null,"custom_data":null}],"warnings":[],"information":[]}
                  }
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/v2/Articles/{articleId}/{langCode}/version/{versionNumber}": {
      "delete": {
        "tags": [
          "Articles"
        ],
        "summary": "Deletes an article version",
        "parameters": [
          {
            "name": "articleId",
            "in": "path",
            "description": "The ID of the article",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "versionNumber",
            "in": "path",
            "description": "Version number of the article",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "langCode",
            "in": "path",
            "description": "Language code of the article",
            "required": true,
            "schema": {
              "type": "string",
              "default": "en"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerApiBaseResponse"
                },
                "examples": {
                  "Article Deleted Successfully": {
                    "summary": "Article has been successfully deleted. This file cannot be retrived or undo.",
                    "value": {"extension_data":null,"success":true,"errors":null,"warnings":[],"information":[]}
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerApiBaseResponse"
                },
                "examples": {
                  "Article not found": {
                    "summary": "Kindly verify your articleId and perform the task again. Also verify the langCode (language code) is mismatching.",
                    "value": {"extension_data":null,"success":false,"errors":[{"extension_data":null,"stack_trace":null,"description":"Article not found","error_code":null,"custom_data":null}],"warnings":[],"information":[]}
                  },
                  "Article Version not found": {
                    "summary": "Kindly verify your versionNumber and perform the task again. Also verify the langCode (language code) is mismatching.",
                    "value": {"extension_data":null,"success":false,"errors":[{"extension_data":null,"stack_trace":null,"description":"Article not found","error_code":null,"custom_data":null}],"warnings":[],"information":[]}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/Articles/bulkdelete-article-versions": {
      "delete": {
        "tags": [
          "Articles"
        ],
        "summary": "Delete multiple article versions",
        "parameters": [
          {
            "name": "articleId",
            "in": "query",
            "description": "The ID of the article",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "langCode",
            "in": "query",
            "description": "Language code of the article",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "articleVersionNumbers",
            "in": "query",
            "description": "Array of article version numbers",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int32"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkDeleteArticleVersionResonse"
                },
                "examples": {
                  "Articles Deleted Successfully": {
                    "summary": "Article has been successfully deleted. This file cannot be retrived or undo.",
                    "value": {"article_id":"00966e87-2f6c-4844-b586-ccc81ddab056","data":"Deleted article version(s) are 1,2,3","extension_data":null,"success":true,"errors":null,"warnings":[],"information":[]}
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerApiBaseResponse"
                },
                "examples": {
                  "Article not found": {
                    "summary": "Kindly verify your articleId and perform the task again. Also verify the langCode (language code) is mismatching.",
                    "value": {"extension_data":null,"success":false,"errors":[{"extension_data":null,"stack_trace":null,"description":"Article not found","error_code":null,"custom_data":null}],"warnings":[],"information":[]}
                  },
                  "Article Version not found": {
                    "summary": "Kindly verify your articleVersion and perform the task again. Also verify the langCode (language code) is mismatching.",
                    "value": {"extension_data":null,"success":false,"errors":[{"extension_data":null,"stack_trace":null,"description":"Invalid Article Version","error_code":null,"custom_data":null}],"warnings":[],"information":[]}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/Articles/bulkdelete": {
      "delete": {
        "tags": [
          "Articles"
        ],
        "summary": "Deletes multiple articles",
        "parameters": [
          {
            "name": "articleIds",
            "in": "query",
            "description": "Array of article IDs",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkDeleteArticleResponse"
                },
                "examples": {
                  "Successfully deleted bulk article": {
                    "summary": "This states that the bulk article has been deleted successfully.",
                    "value": {"data":[{"article_id":null,"success":true,"details":"Successfully deleted article with an id 4b10a0b0-7300-4f0d-b2cd-47c619af4047"}],"extension_data":null,"success":true,"errors":[],"warnings":[],"information":[]}
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerApiBaseResponse"
                },
                "examples": {
                  "Article Id not found": {
                    "summary": "Kindly verify the article Id and perform the task again.",
                    "value": {"extension_data":null,"success":false,"errors":[{"extension_data":null,"stack_trace":null,"description":"Failed to delete article with an id 4b10a0b0-7300-4f0d-b2cd-47c619af4047\r\nError: Article not found","error_code":null,"custom_data":null}],"warnings":[],"information":[]}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/Articles/{articleId}/{langCode}": {
      "get": {
        "tags": [
          "Articles"
        ],
        "summary": "Gets an article",
        "parameters": [
          {
            "name": "articleId",
            "in": "path",
            "description": "The ID of the article",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "langCode",
            "in": "path",
            "description": "Language code of the article",
            "required": true,
            "schema": {
              "type": "string",
              "default": "en"
            }
          },
          {
            "name": "isForDisplay",
            "in": "query",
            "description": "Set this to true, if you are displaying the article to the end-user. If true, the content of snippets or variables appears in the article. Note: If the value is true, ensure that the article content is not passed for update article endpoints.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "isPublished",
            "in": "query",
            "description": "**true** : You will get the latest published version of the article. (If there are no published versions, then it will return the latest version)            \r\n**false** : To get the the latest version of the article",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "appendSASToken",
            "in": "query",
            "description": "Set this to false to exclude appending SAS token for images/files",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetArticleResponseCustomer"
                },
                "examples": {
                  "Sample response": {
                    "summary": "This is the sample response for get-article, You can verify the information regarding the individual article.",
                    "value": {"data":{"id":"a1096061-e842-41fd-9085-494095e401b9","title":"Knowledge bases are much easier to design and edit","content":"Have you ever edited a Wikipedia page? You have to break the flow of text to add tags, and when you want to connect two articles together you have to just hope that nobody changes the other article’s name, lest you end up with a rusty red “dead link.”To be fair,Wikipedia has actually made good strides in making their Wiki software easy to use for anybody, but opening up the editor is still a bit of a shock since you don’t see the familiar webpage you just clicked on. With a knowledge base, what you see is what you get.You don’t have to train anybody on how to add or edit pages because the whole thing is extremely intuitive. Anybody can learn to navigate an edit page in seconds flat.","html_content":null,"category_id":"de104b39-db97-4509-8d4c-deeac74d448b","project_version_id":"46f48bc7-760f-4b07-b2d2-fce4aa8ba234","version_number":1,"public_version":1,"latest_version":2,"enable_rtl":false,"hidden":false,"status":0,"order":0,"created_by":"f11efc6f-e968-4e95-82eb-85ad61559de8","authors":[{"id":"f11efc6f-e968-4e95-82eb-85ad61559de8","first_name":"peter","last_name":"jone","user_description":null,"unique_user_name":"peter-jone","email_id":"peterjone@mail.com","profile_logo_url":"https://www.gravatar.com/avatar/FE29D578CBEC3945FC88BF4F10906A3E?sv=2022-11-02&st=2024-06-18T07%3A12%3A34Z&se=2024-06-18T07%3A32%3A34Z&sr=b&sp=r&sig=LEA2ccLr1hMTZkAE48jsdaTYgRr6jNScPQ4x4E3vTss%3D","profile_logo_cdn_url":"https://www.gravatar.com/avatar/FE29D578CBEC3945FC88BF4F10906A3E?sv=2022-11-02&st=2024-06-18T07%3A12%3A34Z&se=2024-06-18T07%3A32%3A34Z&sr=b&sp=r&sig=LEA2ccLr1hMTZkAE48jsdaTYgRr6jNScPQ4x4E3vTss%3D","is_enterprise_user":false}],"created_at":"2024-06-13T14:30:00","modified_at":"2024-06-13T14:30:00","slug":"Knowledge-bases-are-much-easier-to-design-and edit","is_fall_back_content":false,"description":null,"category_type":0,"content_type":null,"is_shared_article":false,"translation_option":0,"url":"https://example.com/v1/docs/en/getting-started"},"extension_data":null,"success":true,"errors":[],"warnings":[],"information":[]}
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerApiBaseResponse"
                },
                "examples": {
                  "Article not found": {
                    "summary": "Kindly verify your articleId and perform the task again. Also verify the langCode (language code) is mismatching.",
                    "value": {"extension_data":null,"success":true,"errors":[{"extension_data":null,"stack_trace":null,"description":"Article not found","error_code":null,"custom_data":null}],"warnings":[],"information":[]}
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Articles"
        ],
        "summary": "Updates an article with the ID",
        "parameters": [
          {
            "name": "articleId",
            "in": "path",
            "description": "The ID of the article",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "langCode",
            "in": "path",
            "description": "Language code of the article",
            "required": true,
            "schema": {
              "type": "string",
              "default": "en"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/UpdateArticleRequest"
                  }
                ]
              },
              "examples": {
                "Update article wth article Id for default language": {
                  "summary": "Update the article with needed information such as title, content, html_content, category_id, hidden, version_number, translation_option for default language,source and order.",
                  "value": {"title":"updated article title","content":"Hi this is an API article Sample. This is updated.","html_content":"<p>Hi this is an API article Sample. This is updated.</p>","category_id":"5b291e6b-fa40-4ab9-941e-f8fffc23b376","hidden":true,"version_number":1,"translation_option":"0","source":"uat","order":0}
                },
                "Update article wth article Id for article in the state of need translation": {
                  "summary": "Update the article with needed information such as title, content, html_content, category_id, hidden, version_number, translation_option as need translation, source and order.",
                  "value": {"title":"updated article title","content":"Hi this is an API article Sample. This is updated.","html_content":"<p>Hi this is an API article Sample. This is updated.</p>","category_id":"5b291e6b-fa40-4ab9-941e-f8fffc23b376","hidden":true,"version_number":1,"translation_option":"1","source":"uat","order":0}
                },
                "Update article wth article Id with translation you had made": {
                  "summary": "Update the article with needed information such as title, content, html_content, category_id, hidden, version_number, translation_option as translated, source and order.",
                  "value": {"title":"updated article title","content":"Hi this is an API article Sample. This is updated.","html_content":"<p>Hi this is an API article Sample. This is updated.</p>","category_id":"5b291e6b-fa40-4ab9-941e-f8fffc23b376","hidden":true,"version_number":1,"translation_option":"2","source":"uat","order":0}
                }
              }
            },
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/UpdateArticleRequest"
                  }
                ]
              },
              "examples": {
                "Update article wth article Id for default language": {
                  "summary": "Update the article with needed information such as title, content, html_content, category_id, hidden, version_number, translation_option for default language,source and order.",
                  "value": {"title":"updated article title","content":"Hi this is an API article Sample. This is updated.","html_content":"<p>Hi this is an API article Sample. This is updated.</p>","category_id":"5b291e6b-fa40-4ab9-941e-f8fffc23b376","hidden":true,"version_number":1,"translation_option":"0","source":"uat","order":0}
                },
                "Update article wth article Id for article in the state of need translation": {
                  "summary": "Update the article with needed information such as title, content, html_content, category_id, hidden, version_number, translation_option as need translation, source and order.",
                  "value": {"title":"updated article title","content":"Hi this is an API article Sample. This is updated.","html_content":"<p>Hi this is an API article Sample. This is updated.</p>","category_id":"5b291e6b-fa40-4ab9-941e-f8fffc23b376","hidden":true,"version_number":1,"translation_option":"1","source":"uat","order":0}
                },
                "Update article wth article Id with translation you had made": {
                  "summary": "Update the article with needed information such as title, content, html_content, category_id, hidden, version_number, translation_option as translated, source and order.",
                  "value": {"title":"updated article title","content":"Hi this is an API article Sample. This is updated.","html_content":"<p>Hi this is an API article Sample. This is updated.</p>","category_id":"5b291e6b-fa40-4ab9-941e-f8fffc23b376","hidden":true,"version_number":1,"translation_option":"2","source":"uat","order":0}
                }
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/UpdateArticleRequest"
                  }
                ]
              },
              "examples": {
                "Update article wth article Id for default language": {
                  "summary": "Update the article with needed information such as title, content, html_content, category_id, hidden, version_number, translation_option for default language,source and order.",
                  "value": {"title":"updated article title","content":"Hi this is an API article Sample. This is updated.","html_content":"<p>Hi this is an API article Sample. This is updated.</p>","category_id":"5b291e6b-fa40-4ab9-941e-f8fffc23b376","hidden":true,"version_number":1,"translation_option":"0","source":"uat","order":0}
                },
                "Update article wth article Id for article in the state of need translation": {
                  "summary": "Update the article with needed information such as title, content, html_content, category_id, hidden, version_number, translation_option as need translation, source and order.",
                  "value": {"title":"updated article title","content":"Hi this is an API article Sample. This is updated.","html_content":"<p>Hi this is an API article Sample. This is updated.</p>","category_id":"5b291e6b-fa40-4ab9-941e-f8fffc23b376","hidden":true,"version_number":1,"translation_option":"1","source":"uat","order":0}
                },
                "Update article wth article Id with translation you had made": {
                  "summary": "Update the article with needed information such as title, content, html_content, category_id, hidden, version_number, translation_option as translated, source and order.",
                  "value": {"title":"updated article title","content":"Hi this is an API article Sample. This is updated.","html_content":"<p>Hi this is an API article Sample. This is updated.</p>","category_id":"5b291e6b-fa40-4ab9-941e-f8fffc23b376","hidden":true,"version_number":1,"translation_option":"2","source":"uat","order":0}
                }
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/UpdateArticleRequest"
                  }
                ]
              },
              "examples": {
                "Update article wth article Id for default language": {
                  "summary": "Update the article with needed information such as title, content, html_content, category_id, hidden, version_number, translation_option for default language,source and order.",
                  "value": {"title":"updated article title","content":"Hi this is an API article Sample. This is updated.","html_content":"<p>Hi this is an API article Sample. This is updated.</p>","category_id":"5b291e6b-fa40-4ab9-941e-f8fffc23b376","hidden":true,"version_number":1,"translation_option":"0","source":"uat","order":0}
                },
                "Update article wth article Id for article in the state of need translation": {
                  "summary": "Update the article with needed information such as title, content, html_content, category_id, hidden, version_number, translation_option as need translation, source and order.",
                  "value": {"title":"updated article title","content":"Hi this is an API article Sample. This is updated.","html_content":"<p>Hi this is an API article Sample. This is updated.</p>","category_id":"5b291e6b-fa40-4ab9-941e-f8fffc23b376","hidden":true,"version_number":1,"translation_option":"1","source":"uat","order":0}
                },
                "Update article wth article Id with translation you had made": {
                  "summary": "Update the article with needed information such as title, content, html_content, category_id, hidden, version_number, translation_option as translated, source and order.",
                  "value": {"title":"updated article title","content":"Hi this is an API article Sample. This is updated.","html_content":"<p>Hi this is an API article Sample. This is updated.</p>","category_id":"5b291e6b-fa40-4ab9-941e-f8fffc23b376","hidden":true,"version_number":1,"translation_option":"2","source":"uat","order":0}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateArticleResponse"
                },
                "examples": {
                  "Article Created Successfully": {
                    "summary": "The article has been created under the following category. you can use the article Id to view the article in the portal.",
                    "value": {"data":{"id":"a1096061-e842-41fd-9085-494095e401b9","title":"Knowledge bases are much easier to design and edit","content":"Have you ever edited a Wikipedia page? You have to break the flow of text to add tags, and when you want to connect two articles together you have to just hope that nobody changes the other article’s name, lest you end up with a rusty red “dead link.”To be fair,Wikipedia has actually made good strides in making their Wiki software easy to use for anybody, but opening up the editor is still a bit of a shock since you don’t see the familiar webpage you just clicked on. With a knowledge base, what you see is what you get.You don’t have to train anybody on how to add or edit pages because the whole thing is extremely intuitive. Anybody can learn to navigate an edit page in seconds flat.","html_content":null,"category_id":"de104b39-db97-4509-8d4c-deeac74d448b","project_version_id":"46f48bc7-760f-4b07-b2d2-fce4aa8ba234","version_number":1,"public_version":1,"latest_version":2,"enable_rtl":false,"hidden":false,"status":0,"order":0,"created_by":"f11efc6f-e968-4e95-82eb-85ad61559de8","authors":[{"id":"f11efc6f-e968-4e95-82eb-85ad61559de8","first_name":"peter","last_name":"jone","user_description":null,"unique_user_name":"peter-jone","email_id":"peterjone@mail.com","profile_logo_url":"https://www.gravatar.com/avatar/FE29D578CBEC3945FC88BF4F10906A3E?sv=2022-11-02&st=2024-06-18T07%3A12%3A34Z&se=2024-06-18T07%3A32%3A34Z&sr=b&sp=r&sig=LEA2ccLr1hMTZkAE48jsdaTYgRr6jNScPQ4x4E3vTss%3D","profile_logo_cdn_url":"https://www.gravatar.com/avatar/FE29D578CBEC3945FC88BF4F10906A3E?sv=2022-11-02&st=2024-06-18T07%3A12%3A34Z&se=2024-06-18T07%3A32%3A34Z&sr=b&sp=r&sig=LEA2ccLr1hMTZkAE48jsdaTYgRr6jNScPQ4x4E3vTss%3D","is_enterprise_user":false}],"created_at":"2024-06-13T14:30:00","modified_at":"2024-06-13T14:30:00","slug":"Knowledge-bases-are-much-easier-to-design-and edit","is_fall_back_content":false,"description":null,"category_type":0,"content_type":null,"is_shared_article":false,"translation_option":0,"url":"https://example.com/v1/docs/en/getting-started"},"extension_data":null,"success":true,"errors":[],"warnings":[],"information":[]}
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerApiBaseResponse"
                },
                "examples": {
                  "Article Not Found": {
                    "summary": "Kindly verify the article Id and Langauage code, and peroform the task again.",
                    "value": {"extension_data":null,"success":false,"errors":[{"extension_data":null,"stack_trace":null,"description":"Article not found","error_code":"400","custom_data":null}],"warnings":[],"information":[]}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/Articles/{articleId}/versions": {
      "get": {
        "tags": [
          "Articles"
        ],
        "summary": "Gets all article versions",
        "parameters": [
          {
            "name": "articleId",
            "in": "path",
            "description": "The ID of the article",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetArticleVersionsResponse"
                },
                "examples": {
                  "Success Status Response": {
                    "summary": "You can verify all the type of versions in a project.",
                    "value": {"data":[{"version_number":1,"created_by":"peter jone","created_at":"2024-06-13T14:30:00","modified_at":"2024-06-13T14:30:00","base_version":0,"status":0,"profile_url":"https://www.gravatar.com/avatar/FE29D578CBEC3945FC88BF4F10906A3E"}],"extension_data":null,"success":true,"errors":null,"warnings":[],"information":[]}
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerApiBaseResponse"
                },
                "examples": {
                  "Article not found": {
                    "summary": "Kindly verify your articleId and perform the task again. Also verify the langCode (language code) is mismatching.",
                    "value": {"extension_data":null,"success":true,"errors":[{"extension_data":null,"stack_trace":null,"description":"Article not found","error_code":null,"custom_data":null}],"warnings":[],"information":[]}
                  }
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/v2/Articles/{articleId}/{langCode}/versions": {
      "get": {
        "tags": [
          "Articles"
        ],
        "summary": "Gets all article versions",
        "parameters": [
          {
            "name": "articleId",
            "in": "path",
            "description": "The ID of the article",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "langCode",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "default": "en"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetArticleVersionsResponse"
                },
                "examples": {
                  "Success Status Response": {
                    "summary": "You can verify all the type of versions in a project.",
                    "value": {"data":[{"version_number":1,"created_by":"peter jone","created_at":"2024-06-13T14:30:00","modified_at":"2024-06-13T14:30:00","base_version":0,"status":0,"profile_url":"https://www.gravatar.com/avatar/FE29D578CBEC3945FC88BF4F10906A3E"}],"extension_data":null,"success":true,"errors":null,"warnings":[],"information":[]}
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerApiBaseResponse"
                },
                "examples": {
                  "Article not found": {
                    "summary": "Kindly verify your articleId and perform the task again. Also verify the langCode (language code) is mismatching.",
                    "value": {"extension_data":null,"success":true,"errors":[{"extension_data":null,"stack_trace":null,"description":"Article not found","error_code":null,"custom_data":null}],"warnings":[],"information":[]}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/Articles/{articleId}/versions/{versionNumber}": {
      "get": {
        "tags": [
          "Articles"
        ],
        "summary": "Gets article by a version number",
        "parameters": [
          {
            "name": "articleId",
            "in": "path",
            "description": "The ID of the article",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "versionNumber",
            "in": "path",
            "description": "Version number of the article",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "isForDisplay",
            "in": "query",
            "description": "Set this to true, if you are displaying the article to the end-user. If true, the content of snippets or variables appears in the article. Note: If the value is true, ensure that the article content is not passed for update article endpoints.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "appendSASToken",
            "in": "query",
            "description": "Set this to false to exclude appending SAS token for images/files",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetArticleVersionResponse"
                },
                "examples": {
                  "Success status Response": {
                    "summary": "This is the sample response for get-article, You can verify the information regarding the individual article.",
                    "value": {"data":{"id":"a1096061-e842-41fd-9085-494095e401b9","title":"Knowledge bases are much easier to design and edit","content":"Have you ever edited a Wikipedia page? You have to break the flow of text to add tags, and when you want to connect two articles together you have to just hope that nobody changes the other article’s name, lest you end up with a rusty red “dead link.”To be fair,Wikipedia has actually made good strides in making their Wiki software easy to use for anybody, but opening up the editor is still a bit of a shock since you don’t see the familiar webpage you just clicked on. With a knowledge base, what you see is what you get.You don’t have to train anybody on how to add or edit pages because the whole thing is extremely intuitive. Anybody can learn to navigate an edit page in seconds flat.","html_content":null,"category_id":"de104b39-db97-4509-8d4c-deeac74d448b","project_version_id":"46f48bc7-760f-4b07-b2d2-fce4aa8ba234","version_number":1,"public_version":1,"latest_version":2,"enable_rtl":false,"hidden":false,"status":0,"order":0,"created_by":"f11efc6f-e968-4e95-82eb-85ad61559de8","authors":[{"id":"f11efc6f-e968-4e95-82eb-85ad61559de8","first_name":"peter","last_name":"jone","user_description":null,"unique_user_name":"peter-jone","email_id":"peterjone@mail.com","profile_logo_url":"https://www.gravatar.com/avatar/FE29D578CBEC3945FC88BF4F10906A3E?sv=2022-11-02&st=2024-06-18T07%3A12%3A34Z&se=2024-06-18T07%3A32%3A34Z&sr=b&sp=r&sig=LEA2ccLr1hMTZkAE48jsdaTYgRr6jNScPQ4x4E3vTss%3D","profile_logo_cdn_url":"https://www.gravatar.com/avatar/FE29D578CBEC3945FC88BF4F10906A3E?sv=2022-11-02&st=2024-06-18T07%3A12%3A34Z&se=2024-06-18T07%3A32%3A34Z&sr=b&sp=r&sig=LEA2ccLr1hMTZkAE48jsdaTYgRr6jNScPQ4x4E3vTss%3D","is_enterprise_user":false}],"created_at":"2024-06-13T14:30:00","modified_at":"2024-06-13T14:30:00","slug":"Knowledge-bases-are-much-easier-to-design-and edit","is_fall_back_content":false,"description":null,"category_type":0,"content_type":null,"is_shared_article":false,"translation_option":0,"version_created_at":"0001-01-01T00:00:00"},"extension_data":null,"success":true,"errors":[],"warnings":[],"information":[]}
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerApiBaseResponse"
                },
                "examples": {
                  "Article not found": {
                    "summary": "Kindly verify your articleId and perform the task again. Also verify the langCode (language code) is mismatching.",
                    "value": {"extension_data":null,"success":true,"errors":[{"extension_data":null,"stack_trace":null,"description":"Article not found","error_code":null,"custom_data":null}],"warnings":[],"information":[]}
                  }
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/v2/Articles/{articleId}/{langCode}/versions/{versionNumber}": {
      "get": {
        "tags": [
          "Articles"
        ],
        "summary": "Gets article by a version number",
        "parameters": [
          {
            "name": "articleId",
            "in": "path",
            "description": "The ID of the article",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "versionNumber",
            "in": "path",
            "description": "Version number of the article",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "langCode",
            "in": "path",
            "description": "Language code of the article",
            "required": true,
            "schema": {
              "type": "string",
              "default": "en"
            }
          },
          {
            "name": "isForDisplay",
            "in": "query",
            "description": "Set this to true, if you are displaying the article to the end-user. If true, the content of snippets or variables appears in the article. Note: If the value is true, ensure that the article content is not passed for update article endpoints.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "appendSASToken",
            "in": "query",
            "description": "Set this to false to exclude appending SAS token for images/files",
            "schema": {
              "type": "boolean",
              "default": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetArticleVersionResponse"
                },
                "examples": {
                  "Success status Response": {
                    "summary": "This is the sample response for get-article, You can verify the information regarding the individual article.",
                    "value": {"data":{"id":"a1096061-e842-41fd-9085-494095e401b9","title":"Knowledge bases are much easier to design and edit","content":"Have you ever edited a Wikipedia page? You have to break the flow of text to add tags, and when you want to connect two articles together you have to just hope that nobody changes the other article’s name, lest you end up with a rusty red “dead link.”To be fair,Wikipedia has actually made good strides in making their Wiki software easy to use for anybody, but opening up the editor is still a bit of a shock since you don’t see the familiar webpage you just clicked on. With a knowledge base, what you see is what you get.You don’t have to train anybody on how to add or edit pages because the whole thing is extremely intuitive. Anybody can learn to navigate an edit page in seconds flat.","html_content":null,"category_id":"de104b39-db97-4509-8d4c-deeac74d448b","project_version_id":"46f48bc7-760f-4b07-b2d2-fce4aa8ba234","version_number":1,"public_version":1,"latest_version":2,"enable_rtl":false,"hidden":false,"status":0,"order":0,"created_by":"f11efc6f-e968-4e95-82eb-85ad61559de8","authors":[{"id":"f11efc6f-e968-4e95-82eb-85ad61559de8","first_name":"peter","last_name":"jone","user_description":null,"unique_user_name":"peter-jone","email_id":"peterjone@mail.com","profile_logo_url":"https://www.gravatar.com/avatar/FE29D578CBEC3945FC88BF4F10906A3E?sv=2022-11-02&st=2024-06-18T07%3A12%3A34Z&se=2024-06-18T07%3A32%3A34Z&sr=b&sp=r&sig=LEA2ccLr1hMTZkAE48jsdaTYgRr6jNScPQ4x4E3vTss%3D","profile_logo_cdn_url":"https://www.gravatar.com/avatar/FE29D578CBEC3945FC88BF4F10906A3E?sv=2022-11-02&st=2024-06-18T07%3A12%3A34Z&se=2024-06-18T07%3A32%3A34Z&sr=b&sp=r&sig=LEA2ccLr1hMTZkAE48jsdaTYgRr6jNScPQ4x4E3vTss%3D","is_enterprise_user":false}],"created_at":"2024-06-13T14:30:00","modified_at":"2024-06-13T14:30:00","slug":"Knowledge-bases-are-much-easier-to-design-and edit","is_fall_back_content":false,"description":null,"category_type":0,"content_type":null,"is_shared_article":false,"translation_option":0,"version_created_at":"0001-01-01T00:00:00"},"extension_data":null,"success":true,"errors":[],"warnings":[],"information":[]}
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerApiBaseResponse"
                },
                "examples": {
                  "Article not found": {
                    "summary": "Kindly verify your articleId and perform the task again. Also verify the langCode (language code) is mismatching.",
                    "value": {"extension_data":null,"success":true,"errors":[{"extension_data":null,"stack_trace":null,"description":"Article not found","error_code":null,"custom_data":null}],"warnings":[],"information":[]}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/Articles/{articleId}/settings": {
      "get": {
        "tags": [
          "Articles"
        ],
        "summary": "Gets settings for the article",
        "parameters": [
          {
            "name": "articleId",
            "in": "path",
            "description": "The ID of the article",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetArticleSettingsResponse"
                },
                "examples": {
                  "Success status Response": {
                    "summary": "This is the sample response for Get-Article-Settings, You can verify the Slug, Tags, and relatedArticles.",
                    "value": {"data":{"slug":"5-basic-things-to-get-started","seo_title":null,"description":null,"allow_comments":true,"show_table_of_contents":true,"featured_image_url":null,"tags":["Getting started"],"status_indicator":1,"status_indicator_expiry_date":"2024-06-13T14:30:00","exclude_from_search":false,"exclude_from_ai_search":false,"related_articles":[],"is_acknowledgement_enabled":false},"extension_data":null,"success":true,"errors":null,"warnings":[],"information":[]}
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerApiBaseResponse"
                },
                "examples": {
                  "Article not found": {
                    "summary": "Kindly verify your articleId and perform the task again. Also verify the langCode (language code) is mismatching.",
                    "value": {"extension_data":null,"success":true,"errors":[{"extension_data":null,"stack_trace":null,"description":"Article not found","error_code":null,"custom_data":null}],"warnings":[],"information":[]}
                  }
                }
              }
            }
          }
        },
        "deprecated": true
      },
      "put": {
        "tags": [
          "Articles"
        ],
        "summary": "Updates settings for the article",
        "parameters": [
          {
            "name": "articleId",
            "in": "path",
            "description": "The ID of the article",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/UpdateArticleSettingsRequest"
                  }
                ]
              },
              "examples": {
                "Article settings update request.": {
                  "summary": "This request is used to update the article settings. Kindly make sure the changes for updating your parameters has done successfully.",
                  "value": {"slug":"updatearticlesettings","seo_title":"update","description":"This is the description for updating article settings.","allow_comments":true,"show_table_of_contents":true,"tags":[],"status_indicator":2,"status_indicator_expiry_date":"2024-06-13T14:30:00","exclude_from_search":true,"exclude_from_ai_search":false,"related_articles":[],"content_type":0,"is_acknowledgement_enabled":false}
                }
              }
            },
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/UpdateArticleSettingsRequest"
                  }
                ]
              },
              "examples": {
                "Article settings update request.": {
                  "summary": "This request is used to update the article settings. Kindly make sure the changes for updating your parameters has done successfully.",
                  "value": {"slug":"updatearticlesettings","seo_title":"update","description":"This is the description for updating article settings.","allow_comments":true,"show_table_of_contents":true,"tags":[],"status_indicator":2,"status_indicator_expiry_date":"2024-06-13T14:30:00","exclude_from_search":true,"exclude_from_ai_search":false,"related_articles":[],"content_type":0,"is_acknowledgement_enabled":false}
                }
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/UpdateArticleSettingsRequest"
                  }
                ]
              },
              "examples": {
                "Article settings update request.": {
                  "summary": "This request is used to update the article settings. Kindly make sure the changes for updating your parameters has done successfully.",
                  "value": {"slug":"updatearticlesettings","seo_title":"update","description":"This is the description for updating article settings.","allow_comments":true,"show_table_of_contents":true,"tags":[],"status_indicator":2,"status_indicator_expiry_date":"2024-06-13T14:30:00","exclude_from_search":true,"exclude_from_ai_search":false,"related_articles":[],"content_type":0,"is_acknowledgement_enabled":false}
                }
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/UpdateArticleSettingsRequest"
                  }
                ]
              },
              "examples": {
                "Article settings update request.": {
                  "summary": "This request is used to update the article settings. Kindly make sure the changes for updating your parameters has done successfully.",
                  "value": {"slug":"updatearticlesettings","seo_title":"update","description":"This is the description for updating article settings.","allow_comments":true,"show_table_of_contents":true,"tags":[],"status_indicator":2,"status_indicator_expiry_date":"2024-06-13T14:30:00","exclude_from_search":true,"exclude_from_ai_search":false,"related_articles":[],"content_type":0,"is_acknowledgement_enabled":false}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateArticleSettingsResponseCustomer"
                },
                "examples": {
                  "Successfully updated the article setings.": {
                    "summary": "This response indicate a article settings has been successfully updated.",
                    "value": {"data":{"url":"https://example.com/v1/docs/en/getting-started","slug":"updatearticlesettings","seo_title":"update","description":"This is the description for updating article settings.","allow_comments":true,"show_table_of_contents":true,"featured_image_url":"","tags":[],"status_indicator":2,"status_indicator_expiry_date":"2024-06-13T14:30:00","exclude_from_search":true,"exclude_from_ai_search":false,"related_articles":[],"is_acknowledgement_enabled":false},"extension_data":null,"success":true,"errors":[],"warnings":[],"information":[{"extension_data":null,"description":"Article settings updated successfully"}]}
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerApiBaseResponse"
                },
                "examples": {
                  "Non-Empty body is required.": {
                    "summary": "This response is due to an empty request body. \\n Kindly make some body parameters to get success response.",
                    "value": {"extension_data":null,"success":false,"errors":[{"extension_data":null,"stack_trace":null,"description":"A non-empty request body is required.","error_code":"400","custom_data":null}],"warnings":[],"information":[]}
                  }
                }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/v2/Articles/{articleId}/{langCode}/settings": {
      "get": {
        "tags": [
          "Articles"
        ],
        "summary": "Gets settings for the article",
        "parameters": [
          {
            "name": "articleId",
            "in": "path",
            "description": "The ID of the article",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "langCode",
            "in": "path",
            "description": "Language code of the article",
            "required": true,
            "schema": {
              "type": "string",
              "default": "en"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetArticleSettingsResponse"
                },
                "examples": {
                  "Success status Response": {
                    "summary": "This is the sample response for Get-Article-Settings, You can verify the Slug, Tags, and relatedArticles.",
                    "value": {"data":{"slug":"5-basic-things-to-get-started","seo_title":null,"description":null,"allow_comments":true,"show_table_of_contents":true,"featured_image_url":null,"tags":["Getting started"],"status_indicator":1,"status_indicator_expiry_date":"2024-06-13T14:30:00","exclude_from_search":false,"exclude_from_ai_search":false,"related_articles":[],"is_acknowledgement_enabled":false},"extension_data":null,"success":true,"errors":null,"warnings":[],"information":[]}
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerApiBaseResponse"
                },
                "examples": {
                  "Article not found": {
                    "summary": "Kindly verify your articleId and perform the task again. Also verify the langCode (language code) is mismatching.",
                    "value": {"extension_data":null,"success":true,"errors":[{"extension_data":null,"stack_trace":null,"description":"Article not found","error_code":null,"custom_data":null}],"warnings":[],"information":[]}
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Articles"
        ],
        "summary": "Updates settings for the article",
        "parameters": [
          {
            "name": "articleId",
            "in": "path",
            "description": "The ID of the article",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "langCode",
            "in": "path",
            "description": "Language code of the article",
            "required": true,
            "schema": {
              "type": "string",
              "default": "en"
            }
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/UpdateArticleSettingsRequest"
                  }
                ]
              },
              "examples": {
                "Article settings update request.": {
                  "summary": "This request is used to update the article settings. Kindly make sure the changes for updating your parameters has done successfully.",
                  "value": {"slug":"updatearticlesettings","seo_title":"update","description":"This is the description for updating article settings.","allow_comments":true,"show_table_of_contents":true,"tags":[],"status_indicator":2,"status_indicator_expiry_date":"2024-06-13T14:30:00","exclude_from_search":true,"exclude_from_ai_search":false,"related_articles":[],"content_type":0,"is_acknowledgement_enabled":false}
                }
              }
            },
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/UpdateArticleSettingsRequest"
                  }
                ]
              },
              "examples": {
                "Article settings update request.": {
                  "summary": "This request is used to update the article settings. Kindly make sure the changes for updating your parameters has done successfully.",
                  "value": {"slug":"updatearticlesettings","seo_title":"update","description":"This is the description for updating article settings.","allow_comments":true,"show_table_of_contents":true,"tags":[],"status_indicator":2,"status_indicator_expiry_date":"2024-06-13T14:30:00","exclude_from_search":true,"exclude_from_ai_search":false,"related_articles":[],"content_type":0,"is_acknowledgement_enabled":false}
                }
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/UpdateArticleSettingsRequest"
                  }
                ]
              },
              "examples": {
                "Article settings update request.": {
                  "summary": "This request is used to update the article settings. Kindly make sure the changes for updating your parameters has done successfully.",
                  "value": {"slug":"updatearticlesettings","seo_title":"update","description":"This is the description for updating article settings.","allow_comments":true,"show_table_of_contents":true,"tags":[],"status_indicator":2,"status_indicator_expiry_date":"2024-06-13T14:30:00","exclude_from_search":true,"exclude_from_ai_search":false,"related_articles":[],"content_type":0,"is_acknowledgement_enabled":false}
                }
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/UpdateArticleSettingsRequest"
                  }
                ]
              },
              "examples": {
                "Article settings update request.": {
                  "summary": "This request is used to update the article settings. Kindly make sure the changes for updating your parameters has done successfully.",
                  "value": {"slug":"updatearticlesettings","seo_title":"update","description":"This is the description for updating article settings.","allow_comments":true,"show_table_of_contents":true,"tags":[],"status_indicator":2,"status_indicator_expiry_date":"2024-06-13T14:30:00","exclude_from_search":true,"exclude_from_ai_search":false,"related_articles":[],"content_type":0,"is_acknowledgement_enabled":false}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateArticleSettingsResponseCustomer"
                },
                "examples": {
                  "Successfully updated the article setings.": {
                    "summary": "This response indicate a article settings has been successfully updated.",
                    "value": {"data":{"url":"https://example.com/v1/docs/en/getting-started","slug":"updatearticlesettings","seo_title":"update","description":"This is the description for updating article settings.","allow_comments":true,"show_table_of_contents":true,"featured_image_url":"","tags":[],"status_indicator":2,"status_indicator_expiry_date":"2024-06-13T14:30:00","exclude_from_search":true,"exclude_from_ai_search":false,"related_articles":[],"is_acknowledgement_enabled":false},"extension_data":null,"success":true,"errors":[],"warnings":[],"information":[{"extension_data":null,"description":"Article settings updated successfully"}]}
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerApiBaseResponse"
                },
                "examples": {
                  "Non-Empty body is required.": {
                    "summary": "This response is due to an empty request body. \\n Kindly make some body parameters to get success response.",
                    "value": {"extension_data":null,"success":false,"errors":[{"extension_data":null,"stack_trace":null,"description":"A non-empty request body is required.","error_code":"400","custom_data":null}],"warnings":[],"information":[]}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v2/Articles": {
      "post": {
        "tags": [
          "Articles"
        ],
        "summary": "Adds an article to an existing category",
        "requestBody": {
          "description": "",
          "content": {
            "application/json-patch+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreateArticleRequest"
                  }
                ]
              },
              "examples": {
                "Create article Request Example": {
                  "summary": "Create an article with the title, categoryId, projevtVersionId, and userId.",
                  "value": {"title":"New Article","content":"This is my new article Content.","category_id":"5b291e6b-fa40-4ab9-941e-f8fffc23b376","project_version_id":"46f48bc7-760f-4b07-b2d2-fce4aa8ba234","order":0,"user_id":"f11efc6f-e968-4e95-82eb-85ad61559de8","content_type":null,"article_type":null}
                }
              }
            },
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreateArticleRequest"
                  }
                ]
              },
              "examples": {
                "Create article Request Example": {
                  "summary": "Create an article with the title, categoryId, projevtVersionId, and userId.",
                  "value": {"title":"New Article","content":"This is my new article Content.","category_id":"5b291e6b-fa40-4ab9-941e-f8fffc23b376","project_version_id":"46f48bc7-760f-4b07-b2d2-fce4aa8ba234","order":0,"user_id":"f11efc6f-e968-4e95-82eb-85ad61559de8","content_type":null,"article_type":null}
                }
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreateArticleRequest"
                  }
                ]
              },
              "examples": {
                "Create article Request Example": {
                  "summary": "Create an article with the title, categoryId, projevtVersionId, and userId.",
                  "value": {"title":"New Article","content":"This is my new article Content.","category_id":"5b291e6b-fa40-4ab9-941e-f8fffc23b376","project_version_id":"46f48bc7-760f-4b07-b2d2-fce4aa8ba234","order":0,"user_id":"f11efc6f-e968-4e95-82eb-85ad61559de8","content_type":null,"article_type":null}
                }
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreateArticleRequest"
                  }
                ]
              },
              "examples": {
                "Create article Request Example": {
                  "summary": "Create an article with the title, categoryId, projevtVersionId, and userId.",
                  "value": {"title":"New Article","content":"This is my new article Content.","category_id":"5b291e6b-fa40-4ab9-941e-f8fffc23b376","project_version_id":"46f48bc7-760f-4b07-b2d2-fce4aa8ba234","order":0,"user_id":"f11efc6f-e968-4e95-82eb-85ad61559de8","content_type":null,"article_type":null}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateArticleResponse"
                },
                "examples": {
                  "Article Created Successfully": {
                    "summary": "The article has been created under the following category. you can use the article Id to view the article in the portal.",
                    "value": {"data":{"id":"925b69b9-f241-4d89-9e3e-208a98dfc8eb","title":"Sample Article","public_version":0,"latest_version":1,"language_code":null,"hidden":false,"status":0,"order":3,"slug":"sample-article","content_type":null,"translation_option":0,"is_shared_article":false,"modified_at":null},"extension_data":null,"success":true,"errors":[],"warnings":[],"information":[]}
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerApiBaseResponse"
                },
                "examples": {
                  "userId not found": {
                    "summary": "Kindly check your user Id and perform the task again. Find your user Id at /v2/Teams.",
                    "value": {"extension_data":null,"success":false,"errors":[{"extension_data":null,"stack_trace":null,"description":"The user with id 'f11efc6f-e968-4e95-82eb-85ad61559de81' does not exist in your project.","error_code":"400","custom_data":null}],"warnings":[],"information":[]}
                  },
                  "category_id not found": {
                    "summary": "Kindly check the category_id from /v2/ProjectVersions/{projectVersionId}/categories and perform the task again.",
[...]
